/*MOBILE*/

.preference {
    margin: 56px 0px 0px 0px;
}

.preference_container {
    padding: 0px 0px 24px 0px;
    display: flex;
    justify-content: flex-start;
    height: 36px;
}

.icon-Line-pref {
    width: 135px;
    border: 2px;
}



.preference_title {
    margin: 0px 0px 0px 16px;
    letter-spacing: -0.05em;
    font-family: "Nutino", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(50, 64, 82, 1);
}

/*TABLET*/

@media screen and (min-width: 768px) {

    .preference {
        margin: 100px auto 0px auto;
        width: 648px;
    }
    
    .preference_container {
        padding: 0px 0px 32px 0px;
        display: flex;
        justify-content: flex-start;
        height: 48px;
    }

    /* .preference_line {
        position: absolute;
        display: block;
        content: "";
        height: 4px;
        width: 252px;
        background-color: rgba(206, 177, 129, 1);
        border-radius: 2px;
        left: 32px;
    } */
    
    .icon-Line-pref {

        margin: 0px;
        padding: 0px;
        width: 259px;
        border: 2px;
    }
    
    
    
    .preference_title {
        margin: 0px 0px 0px 32px;
        letter-spacing: -0.05em;
        font-family: "Nutino", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: rgba(50, 64, 82, 1);
    }

}