.main {
    margin: -120px auto;
    height: 752px;
    background-image: url(../../components/images/main_img/main.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_modal {
   margin: 0 auto;
   width: 352px;
   border-radius: 20px;
   background-color: rgba(251, 252, 252, 0.8);
   position: relative;
   top: 280px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    
    background-image: url(../../components/images/main_img/main_@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin: -120px auto;
    height: 1024px;
    background-image: url(../../components/images/main_img/mainTablet.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    
    background-image: url(../../components/images/main_img/mainTablet_@2x.jpg);
  }
}
  }


  @media screen and (min-width: 1440px) {
    .main {
    
      background-color: #f9f9fd;
      margin: -120px 0px 0px 602px;
      height: 1078px;
      background-image: url(../../components/images/main_img/mainDesktop.jpg);
      background-color: rgb(255, 255, 255);
      /* background-repeat: no-repeat;
      background-size: 838px 1078px; */
  }

  .main_polygon{
  
    height: 100%;

    background-image: url(../../components/images/main_polygon.svg);
    background-repeat: no-repeat;
  
  }
  
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main {
      
      background-image: url(../../components/images/main_img/mainDesktop_@2x.jpg);
    }
  }
    }
