@font-face {
    font-family: "Nunito";
    src: url(../../founds/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../../founds/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}


.header_nav {
    display: none;
}

.header {
    margin: 0;
    padding: 54px 0px 24px 0px;
    background-image: linear-gradient(
        to top left,
        rgba(198, 190, 187, 0.81),
        rgba(118, 106, 99, 1)
      );
    }

.icon-iconheader {
    width: 44px;
    height: 42px;
    }    

.header_list {
    margin: 0px 16px 0px 16px;
    height: 42px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header_list_title {
    margin: 1px 0px 1px 16px;
    letter-spacing: -0.08em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #1C4C6B;
}

.header_list_adress {
    display: none;
}

.header_list_leng {
    padding:  0px;
    margin-left: 66px;
    margin-top: 6px;
    width: 36px;
    height: 30px;
    letter-spacing: -0.04em;
    border: none;
    background-color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #EEE8DE;
   
    cursor: pointer;
 
}
.header_list_burger {
    margin-left: 20px;
    border: none;
    background-color: inherit;
    
}

.icon-burger {
    color: #324052;
    width: 42px;
    height: 42px;
}



/*TABLET style*/

@media screen and (min-width: 768px) {
    body {
      background-color: orange;
    }

    .header {
        margin: 0;
        padding: 14px 0px 14px 0px;
        }

    .icon-iconheader {
        width: 60px;
        height: 60px;
        }  
 
    .header_list {
        margin: 0px 60px 0px 60px;
        height: 60px;
       
    }

    .header_list_title {
        margin: 6px 0px 6px 8px;
        padding-top: 4px;
        letter-spacing: -0.08em;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: #1C4C6B;
    }
    
    .header_list_leng {
        padding:  0px;
        margin: 10px 0px 10px 328px;
        width: 36px;
        height: 40px;
        letter-spacing: -0.04em;
        border: none;
        background-color: inherit;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #EEE8DE;
       
        cursor: pointer;
     
    }
    .header_list_burger {
        margin-left: 40px;
        
    }        
  }

/*Desktop styled*/

@media screen and (min-width: 1440px) {
 body {
    background-color: rgb(255, 255, 255);
 }



.header {
    margin: 0;
    padding: 0px; /*19px 0px 19px 0px;*/
}

.icon-iconheader {
    width: 44px;
    height: 42px;
    }  

    .header_list {
        margin: 0px 60px 0px 60px;
        padding: 19px 0px 19px 0px;
        height: 42px;
       
    }

    .header_list_title {
         margin: 0px;
        padding:0px;
        letter-spacing: -0.08em;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: #1C4C6B;
    }

    .header_list_adress {
        display: block;
        margin: 0px 0px 0px 40px;
        padding: 0px 16px 0px 16px;
        letter-spacing: -0.04em;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: #EEE8DE;
    }

    .header_nav {
       
        display: flex;
        padding: 0px 16px 0px 16px;
        margin: 0px 0px 0px 235px;
        
    }

    .header_link {
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: #EEE8DE;
        cursor: pointer;
    }

    .header_link:not(:last-child) {
        margin-right: 80px;
    }

    .line_main::after {
    display: block;
    /* position: absolute; */
    content: "";
    width: 100%;
    height: 4px;
    background: red;
    border-radius: 2px;
    }

    .line_about::after {
        display: block;
        /* position: absolute; */
        content: "";
        width: 100%;
        height: 4px;
        background: red;
        border-radius: 2px;    
    }

.header_list_leng {
    padding:  0px;
    margin-left: 135px;
    margin-top: 6px;
    width: 36px;
    height: 30px;
    letter-spacing: -0.04em;
    border: none;
    background-color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #EEE8DE;
   
    cursor: pointer;
 
}

.header_list_burger {
    display: none;
    
}
}

  